<!doctype html>
<html>

<head>
  <title>Taste A Movie</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="icon" href="static/big.logo.png">
</head>

<body>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th {
      background-color: #04AA6D;
      color: white;
    }
  </style>
  <div class="header">
    <img class="logo" src="{{ url_for('static', filename = 'big.logo.png') }}" alt="Taste A Movie">
    <span><strong>Taste A Movie</strong></span>
    <hr>
  </div>
  <h4 style="text-align:center; color:#354259"> Related Movies</h4>
  <table border=1>
    {% for movie in rec_movie %}
    <tr>
      <td> {{ movie }} </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>
